*.zip
**/ppo_navigation_tensorboard/
**/__pycache__/
*.0
test/agentic quantum circuit/docs/_*
*.png
article replications/fig6_data.json
article replications/Nelder-Mead.html
.vscode/settings.json
*.pkl
**/curriculum_state.json
agentic quantum circuit/GKP_core_coefficients.csv
data/
**/.idea/
